@import url('https://rsms.me/inter/inter.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
  @apply text-textColor1;
  @apply font-fontFamily1;
}

@screen xs {
  html {
    font-size: 16px;
  }
}

html,
body,
#app {
  width: 100%;
  height: 100% !important;
  position: relative;
  overflow: hidden;
}
